  <div class="blog-page-wrapper mb-100">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-9 order-1 mb-md-70 mb-sm-70">
                    <div class="row">
                        
                        <div class="col-md-12 mb-40">
                            <div class="single-slider-post single-slider-post--sticky pb-60">
                                <!--=======  image  =======-->
                                
                                <div class="single-slider-post__image single-slider-post--sticky__image mb-30">
                                    <img src="assets/images/blog/post-thumbnail-2-1.png" class="img-fluid" alt="">
                                </div>
                                
                                <!--=======  End of image  =======-->

                                <!--=======  content  =======-->
                                
                                <div class="single-slider-post__content single-slider-post--sticky__content">
                                    <!--=======  post category  =======-->
                                    
                                    <div class="post-category mb-10">
                                        <a href="blog-single-post-right-sidebar2.html#">fashion</a>
                                    </div>
                                    
                                    <h2 class="post-title"><a href="blog-single-post-left-sidebar.html">Por qué tener un personal shopper?</a></h2>

                                    <!--=======  End of post category  =======-->

                                    <!--=======  post info  =======-->
                                    
                                    <div class="post-info d-flex flex-wrap align-items-center mb-50">
                                        <div class="post-user">
                                            <i class="ion-android-person"></i> By
                                            <a href="blog-standard-left-sidebar.html"> Owen Christ</a>
                                        </div>
                                        <div class="post-date mb-0 pl-30">
                                            <i class="ion-android-calendar"></i>
                                            <a href="blog-standard-left-sidebar.html"> dec 10, 2020</a>
                                        </div>
                                        <div class="post-category pl-30">
                                            <a href="blog-single-post-right-sidebar2.html#">fashion</a>
										</div>
										<div class="post-comment pl-30">
											<i class="ion-ios-chatbubble-outline"></i>
                                            <a href="blog-standard-left-sidebar.html"> 4 Comments</a>
										</div>
                                    </div>
                                    
                                    <!--=======  End of post info  =======-->
									
									
									<!--=======  single blog post section  =======-->
									
									<div class="single-blog-post-section">
										<!-- <h3 class="mb-30">Sequins</h3> -->
										<p class="mb-30">Personal shopper es aquella persona que se encarga de hacer las compras y asesorarte para una ocasión en especial o para cambiar completamente tu imagen. Los personal shopper están capacitados para hacer un análisis exhaustivo de cómo debe lucir una persona o un grupo de ellas. </p>
                                         <img src="assets/images/blog/Post_2_personal_shopper_1.jpg" class="img-fluid" alt="">
										<!-- <h3 class="mb-30">Pastels</h3> -->
										<p class="mb-30"> Tener un personal shopper tiene sus propias ventajas, ya que es una carrera de futuro y este debe estar al día en cuanto a tendencias de la moda y estética, además, debe saber como hacer un uso adecuado de tiempo y dinero. es decir, se encarga de hacer compras inteligentes y tomar mejores decisiones en función al estilo personal y morfología. Debe ser capaz de conocer al cliente e identificar sus necesidades y realzar su autoestima para asesorar a la persona que lo contrate tanto o más para que este se conecte consigo mismo y florezca su propia personalidad. </p>
										<!-- <h3 class="mb-30">Checks</h3> -->
                                       
										
										<p>
											Y por supuesto… ¡bueno gusto!
										</p>
									</div>
									
									<!--=======  End of single blog post section  =======-->


                                    <div class="row mt-30 align-items-center">
                                        <div class="col-md-6 text-center text-md-left mb-sm-15">
                                            <div class="post-tags">
                                                <i class="ion-ios-pricetags"></i>
                                                <ul class="tag-list">
                                                    <li><a href="blog-single-post-right-sidebar2.html#">accessories</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">clothes</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">fashion</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">greenspace</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">Instagram</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">Interior</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">oripersonalshopper</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">lifestyle</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">shop</a>,</li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#">stores</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-6 text-center text-md-right">
                                            <div class="post-share">
                                                <span>Share this post:</span>
                                                <ul>
                                                    <li><a href="blog-single-post-right-sidebar2.html#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="blog-single-post-right-sidebar2.html#"><i class="fa fa-pinterest"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--=======  End of content  =======-->
                            </div>
						</div>
						
						<div class="col-md-12 mb-40">
							<!--=======  author info  =======-->
												
							<div class="single-author">
								<div class="single-author__image">
									<img src="assets/images/user/user3.jpeg" class="img-fluid" alt="">
								</div>
								<div class="single-author__content">
									

									<!--=======  username and date  =======-->
									
									<p class="username">Edna Watson</p> 
									
									<!--=======  End of username and date  =======-->

									<!--=======  message  =======-->
									
									<p class="message">
										Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboruLorem ipsum dolor sit amet datat non proident
									</p>
									
									<!--=======  End of message  =======-->
								</div>
							</div>
							
							<!--=======  End of author info  =======-->
						</div>

						<div class="col-lg-12 mb-40">
							<!--=======  commenter info  =======-->
							
							<h2 class="comment-title mb-30">Comments <span>(4)</span></h2>

							<!--=======  single comment  =======-->
							
							<div class="single-comment">
								<div class="single-comment__image">
									<img src="assets/images/user/user1.jpeg" class="img-fluid" alt="">
								</div>
								<div class="single-comment__content">

									<!--=======  username and date  =======-->
									
									<p class="username">Scott James <span class="date">/ April 5, 2018</span></p> 
									
									<!--=======  End of username and date  =======-->

									<!--=======  message  =======-->
									
									<p class="message">
										Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
									</p>
									
									<!--=======  End of message  =======-->

									<!--=======  reply link  =======-->
									
									<a href="blog-single-post-right-sidebar2.html#" class="reply-link"><i class="ion-reply"></i> reply</a>
									
									<!--=======  End of reply link  =======-->
								</div>
							</div>
							
							<!--=======  End of single comment  =======-->

							<!--=======  single comment  =======-->
							
							<div class="single-comment">
								<div class="single-comment__image">
									<img src="assets/images/user/user2.jpeg" class="img-fluid" alt="">
								</div>
								<div class="single-comment__content">

									<!--=======  username and date  =======-->
									
									<p class="username">Edna Watson <span class="date">/ April 5, 2018</span></p> 
									
									<!--=======  End of username and date  =======-->

									<!--=======  message  =======-->
									
									<p class="message">
										Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
									</p>
									
									<!--=======  End of message  =======-->

									<!--=======  reply link  =======-->
									
									<a href="blog-single-post-right-sidebar2.html#" class="reply-link"><i class="ion-reply"></i> reply</a>
									
									<!--=======  End of reply link  =======-->
								</div>
							</div>
							
							<!--=======  End of single comment  =======-->

							<!--=======  single comment  =======-->
							
							<div class="single-comment">
								<div class="single-comment__image">
									<img src="assets/images/user/user3.jpeg" class="img-fluid" alt="">
								</div>
								<div class="single-comment__content">

									<!--=======  username and date  =======-->
									
									<p class="username">Owen Christ <span class="date">/ April 5, 2018</span></p> 
									
									<!--=======  End of username and date  =======-->

									<!--=======  message  =======-->
									
									<p class="message">
										Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
									</p>
									
									<!--=======  End of message  =======-->

									<!--=======  reply link  =======-->
									
									<a href="blog-single-post-right-sidebar2.html#" class="reply-link"><i class="ion-reply"></i> reply</a>
									
									<!--=======  End of reply link  =======-->
								</div>
							</div>
							
							<!--=======  End of single comment  =======-->

							<!--=======  single comment  =======-->
							
							<div class="single-comment single-comment--reply">
								<div class="single-comment__image">
									<img src="assets/images/user/user1.jpeg" class="img-fluid" alt="">
								</div>
								<div class="single-comment__content">

									<!--=======  username and date  =======-->
									
									<p class="username">Scott James <span class="date">/ April 5, 2018</span></p> 
									
									<!--=======  End of username and date  =======-->

									<!--=======  message  =======-->
									
									<p class="message">
										Thanks for always keeping your WordPress themes up to date. Your level of support and dedication is second to none.
									</p>
									
									<!--=======  End of message  =======-->

									<!--=======  reply link  =======-->
									
									<a href="blog-single-post-right-sidebar2.html#" class="reply-link"><i class="ion-reply"></i> reply</a>
									
									<!--=======  End of reply link  =======-->
								</div>
							</div>
							
							<!--=======  End of single comment  =======-->
							
							<!--=======  End of commenter info  =======-->
						</div>

						<div class="col-lg-12">

								<h2 class="comment-title mb-30">Leave your thought here</h2>
							<!--=======  comment form  =======-->
							
							<div class="oripersonalshopper-form comment-gorm">
								<form action="blog-single-post-right-sidebar.html#">
									<div class="row">
										<div class="col-lg-4 mb-20">
											<input type="text" placeholder="Name (*)" required>
										</div>
										<div class="col-lg-4 mb-20">
											<input type="email" placeholder="Email (*)" required>
										</div>
										<div class="col-lg-4 mb-20">
											<input type="text" placeholder="Website">
										</div>
										<div class="col-lg-12 mb-20">
											<textarea cols="30" rows="10" placeholder="Message"></textarea>
										</div>
										<div class="col-lg-12 text-center">
											<button type="submit" class="oripersonalshopper-button oripersonalshopper-button--medium">submit</button>
										</div>
									</div>
								</form>
							</div>
							
							<!--=======  End of comment form  =======-->
						</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>